.folder-container{
	position:absolute;
	top:0;
	left:0;
	right:0;
	height:20vh;
	margin:0;
	padding:0;
	overflow-y:scroll;
	border-bottom:1px solid black;
}

.image-container{
	position:absolute;
	top:20vh;
	left:0;
	right:0;
	height:80vh;
	margin:0;
	padding:0;
	overflow-y:scroll;
}

.dir{
	display:block;
	height:80px;
	width:100px;
	margin:25px;
	margin-top:50px;
	float:left;
}

.folder-icon{
	height:60px;
	width:60px;
	margin:0 auto;
	padding:0;
}

.folder-label{
	color:black;
	text-decoration:none;
	font-size:18px;
	text-align:center;
	font-family:sans-serif;
}

.image{
	margin:20px;
	float:left;
	max-width:250px;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	